body {
  margin: 0;
  line-height: normal;
}
.rectangle-div104 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #4395d8, #53b6db);
  width: 1px;
  height: 1px;
}
.property-1doctolib-white-12 {
  position: absolute;
  top: 0.45px;
  left: 0.1px;
  width: 0.79px;
  height: 0.11px;
  object-fit: cover;
}
.group-div88 {
  position: absolute;
  top: 422px;
  left: 195px;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.rectangle-div105,
.rectangle-div106 {
  position: absolute;
  background-color: var(--color-white);
}
.rectangle-div105 {
  top: 830px;
  left: 125px;
  border-radius: var(--br-lg);
  width: 141px;
  height: 5px;
}
.rectangle-div106 {
  top: 446px;
  left: 0;
  width: 420px;
  height: 398px;
}
.group-icon16 {
  position: absolute;
  height: 1.66%;
  width: 85.24%;
  top: 3.2%;
  right: 5.53%;
  bottom: 95.14%;
  left: 9.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trouvez-un-rendez-vous-avec1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.un-ophtalmologue1 {
  margin: 0;
  color: var(--color-gray-600);
}
.mes-praticiens-favoris1,
.trouvez-un-rendez-vous-avec-un1 {
  position: absolute;
  line-height: 124.69%;
  display: inline-block;
  width: 310px;
}
.trouvez-un-rendez-vous-avec-un1 {
  top: 153px;
  left: 40px;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.08em;
  text-align: center;
  color: var(--color-white);
}
.mes-praticiens-favoris1 {
  top: 480px;
  left: 31px;
  font-size: var(--font-size-xl);
}
.property-1doctolib-white-13 {
  position: absolute;
  top: 76px;
  left: 138px;
  width: 114px;
  height: 34px;
  object-fit: cover;
}
.rectangle-div107 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 168px;
  height: 38px;
}
.group-icon17 {
  position: absolute;
  height: 31.67%;
  width: 7.16%;
  top: 36.67%;
  right: 81.28%;
  bottom: 31.67%;
  left: 11.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div89 {
  position: absolute;
  top: 260px;
  left: 112.84px;
  width: 168px;
  height: 38px;
}
.rectangle-div108 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(180deg, #2960a9, #1f4b96);
  width: 328px;
  height: 129px;
}
.capture-decran-2022-11-07-a2 {
  position: absolute;
  top: 7px;
  left: 9px;
  width: 307px;
  height: 116px;
  object-fit: cover;
}
.group-div90 {
  position: absolute;
  top: 308px;
  left: 31px;
  width: 328px;
  height: 129px;
}
.rectangle-div109 {
  position: absolute;
  top: 832px;
  left: 123px;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-1200);
  width: 141px;
  height: 5px;
}
.rechercher-b1 {
  position: absolute;
  top: 271px;
  left: 156px;
  font-size: var(--font-size-xs);
  line-height: 0%;
  text-transform: uppercase;
  display: flex;
  color: var(--bluedocto);
  align-items: center;
  width: 106px;
  height: 17px;
}
.rectangle-div110 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 328px;
  height: 67px;
}
.ellipse-icon3 {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.chirurgien-dentiste-div2,
.dr-boe-trong1 {
  position: absolute;
  left: 76px;
  line-height: 124.69%;
  display: inline-block;
}
.dr-boe-trong1 {
  top: 21px;
  font-weight: 600;
  width: 94px;
}
.chirurgien-dentiste-div2 {
  top: 40px;
  font-size: var(--font-size-5xs);
  width: 85px;
}
.group-div91 {
  position: absolute;
  top: 514px;
  left: 31px;
  width: 328px;
  height: 67px;
}
.dr-sarah-lisbona1 {
  position: absolute;
  top: 21px;
  left: 76px;
  line-height: 124.69%;
  font-weight: 600;
  display: inline-block;
  width: 120px;
}
.group-div92,
.group-div93 {
  position: absolute;
  top: 595px;
  left: 31px;
  width: 328px;
  height: 67px;
}
.group-div93 {
  top: 676px;
}
.group-icon18,
.group-icon19,
.group-icon20 {
  position: absolute;
  top: 547px;
  left: 310px;
  width: 23px;
  height: 6px;
}
.group-icon19,
.group-icon20 {
  top: 626px;
}
.group-icon20 {
  top: 705px;
}
.rectangle-div113,
.rectangle-div114 {
  position: absolute;
  height: 2.17%;
  width: 24.17%;
  top: 0;
  right: 75.83%;
  bottom: 97.83%;
  left: 0;
  background-color: var(--bluedocto);
}
.rectangle-div114 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
}
.vector-icon9 {
  position: absolute;
  height: 60%;
  width: 73.47%;
  top: 0;
  right: 18.37%;
  bottom: 40%;
  left: 8.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.accueil-div3 {
  position: absolute;
  top: 70.91%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.group-div96 {
  position: absolute;
  height: 100%;
  width: 14.04%;
  top: 0;
  right: 85.96%;
  bottom: 0;
  left: 0;
  color: var(--bluedocto);
}
.vector-icon10 {
  position: absolute;
  height: 60%;
  width: 35.71%;
  top: 0;
  right: 34.52%;
  bottom: 40%;
  left: 29.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rendez-vous-div3 {
  position: absolute;
  top: 70.91%;
  left: 0;
  display: inline-block;
}
.group-div97,
.vector-icon11 {
  position: absolute;
  height: 100%;
  width: 24.07%;
  top: 0;
  right: 52.44%;
  bottom: 0;
  left: 23.5%;
}
.vector-icon11 {
  height: 63.64%;
  width: 33.77%;
  right: 38.96%;
  bottom: 36.36%;
  left: 27.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div98 {
  position: absolute;
  height: 100%;
  width: 22.06%;
  top: 0;
  right: 25.21%;
  bottom: 0;
  left: 52.72%;
  cursor: pointer;
}
.group-icon21 {
  position: absolute;
  height: 64.93%;
  width: 80.94%;
  top: 0;
  right: 5.85%;
  bottom: 35.07%;
  left: 13.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div99 {
  position: absolute;
  height: 100%;
  width: 15.19%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.81%;
}
.group-div94,
.group-div95 {
  position: absolute;
  height: 61.11%;
  width: 88.8%;
  top: 13.33%;
  right: 4.58%;
  bottom: 25.56%;
  left: 6.62%;
}
.group-div94 {
  height: 97.83%;
  width: 100%;
  top: 2.17%;
  right: 0;
  bottom: 0;
  left: 0;
}
.component-5-div3 {
  position: absolute;
  top: 752px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0-24px 48px rgba(0, 0, 0, 0.1);
  width: 393px;
  height: 92px;
  font-size: var(--font-size-xs);
}
.iphone-14-2 {
  position: relative;
  background-color: var(--bluedocto);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xs);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
