body {
  margin: 0;
  line-height: normal;
}
.rectangle-div63 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #4395d8, #53b6db);
  width: 1px;
  height: 1px;
}
.property-1doctolib-white-1 {
  position: absolute;
  top: 0.45px;
  left: 0.1px;
  width: 0.79px;
  height: 0.11px;
  object-fit: cover;
}
.group-div55 {
  position: absolute;
  top: 422px;
  left: 195px;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.rectangle-div64,
.rectangle-div65 {
  position: absolute;
  background-color: var(--color-white);
}
.rectangle-div64 {
  top: 830px;
  left: 125px;
  border-radius: var(--br-lg);
  width: 141px;
  height: 5px;
}
.rectangle-div65 {
  top: 446px;
  left: 0;
  width: 420px;
  height: 398px;
}
.group-icon9 {
  position: absolute;
  height: 1.66%;
  width: 85.24%;
  top: 3.2%;
  right: 5.53%;
  bottom: 95.14%;
  left: 9.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trouvez-un-rendez-vous-avec {
  margin-block-start: 0;
  margin-block-end: 0;
}
.un-ophtalmologue {
  margin: 0;
  color: var(--color-gray-600);
}
.mes-praticiens-favoris,
.trouvez-un-rendez-vous-avec-un {
  position: absolute;
  line-height: 124.69%;
  display: inline-block;
  width: 310px;
}
.trouvez-un-rendez-vous-avec-un {
  top: 153px;
  left: 40px;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.08em;
  text-align: center;
  color: var(--color-white);
}
.mes-praticiens-favoris {
  top: 480px;
  left: 31px;
  font-size: var(--font-size-xl);
}
.property-1doctolib-white-11 {
  position: absolute;
  top: 76px;
  left: 138px;
  width: 114px;
  height: 34px;
  object-fit: cover;
}
.rectangle-div66 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 168px;
  height: 38px;
}
.group-icon10 {
  position: absolute;
  height: 31.67%;
  width: 7.16%;
  top: 36.67%;
  right: 81.28%;
  bottom: 31.67%;
  left: 11.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div56,
.rectangle-div67 {
  position: absolute;
  top: 260px;
  left: 112.84px;
  width: 168px;
  height: 38px;
}
.rectangle-div67 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(180deg, #2960a9, #1f4b96);
  width: 328px;
  height: 129px;
}
.capture-decran-2022-11-07-a {
  position: absolute;
  top: 7px;
  left: 9px;
  width: 307px;
  height: 116px;
  object-fit: cover;
}
.group-div57,
.rectangle-div68 {
  position: absolute;
  top: 308px;
  left: 31px;
  width: 328px;
  height: 129px;
}
.rectangle-div68 {
  top: 832px;
  left: 123px;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-1200);
  width: 141px;
  height: 5px;
}
.rechercher-b {
  position: absolute;
  top: 271px;
  left: 156px;
  font-size: var(--font-size-xs);
  line-height: 0%;
  text-transform: uppercase;
  display: flex;
  color: var(--bluedocto);
  align-items: center;
  width: 106px;
  height: 17px;
}
.rectangle-div69 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 328px;
  height: 67px;
}
.ellipse-icon {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.chirurgien-dentiste-div,
.dr-boe-trong {
  position: absolute;
  left: 76px;
  line-height: 124.69%;
  display: inline-block;
}
.dr-boe-trong {
  top: 21px;
  font-weight: 600;
  width: 94px;
}
.chirurgien-dentiste-div {
  top: 40px;
  font-size: var(--font-size-5xs);
  width: 85px;
}
.group-div58 {
  position: absolute;
  top: 514px;
  left: 31px;
  width: 328px;
  height: 67px;
}
.dr-sarah-lisbona {
  position: absolute;
  top: 21px;
  left: 76px;
  line-height: 124.69%;
  font-weight: 600;
  display: inline-block;
  width: 120px;
}
.group-div59,
.group-div60 {
  position: absolute;
  top: 595px;
  left: 31px;
  width: 328px;
  height: 67px;
}
.group-div60 {
  top: 676px;
}
.group-icon11,
.group-icon12,
.group-icon13,
.rectangle-div72 {
  position: absolute;
  top: 547px;
  left: 310px;
  width: 23px;
  height: 6px;
}
.group-icon12,
.group-icon13,
.rectangle-div72 {
  top: 626px;
}
.group-icon13,
.rectangle-div72 {
  top: 705px;
}
.rectangle-div72 {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  width: 390px;
  height: 844px;
}
.rectangle-div73 {
  position: absolute;
  top: 14.55px;
  left: 37.09px;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 218.18px;
  height: 48px;
}
.group-div63,
.rectangle-div74 {
  position: absolute;
  width: 244.36px;
  height: 72.82px;
}
.rectangle-div74 {
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background: linear-gradient(180deg, #fff, #e5e5e5);
}
.group-div63 {
  top: 42.18px;
  left: 24px;
  box-shadow: var(--ombre);
}
.mise-a-jour-disponible,
.un-tutoriel-est-disponible-vou {
  position: absolute;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 208px;
  height: 62.55px;
}
.mise-a-jour-disponible {
  top: 0;
  left: 42.91px;
  font-size: var(--font-size-3xs);
}
.un-tutoriel-est-disponible-vou {
  top: 48.36px;
  left: 42px;
  font-weight: 600;
}
.group-div66,
.rectangle-div75 {
  position: absolute;
  top: 0;
  left: 0;
  width: 122px;
  height: 34.82px;
}
.rectangle-div75 {
  border-radius: var(--br-sm);
  background-color: var(--color-white);
}
.group-div66 {
  box-shadow: var(--ombre);
}
.sortir-div {
  position: absolute;
  top: 5.73px;
  left: 17.45px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85.82px;
  height: 23.27px;
  cursor: pointer;
}
.group-div65,
.group-div68,
.rectangle-div76 {
  position: absolute;
  top: 0;
  left: 0;
  width: 122px;
  height: 34.82px;
}
.group-div68,
.rectangle-div76 {
  width: 122.36px;
}
.rectangle-div76 {
  border-radius: var(--br-sm);
  background-color: var(--color-white);
}
.group-div68 {
  box-shadow: var(--ombre);
}
.continuer-div,
.group-div69 {
  position: absolute;
  width: 94.55px;
  height: 23.27px;
}
.continuer-div {
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.group-div69 {
  top: 5.73px;
  left: 11.82px;
}
.group-div64,
.group-div67,
.line-div8 {
  position: absolute;
  top: 0;
  left: 172px;
  width: 122.36px;
  height: 34.82px;
}
.group-div64,
.line-div8 {
  top: 351px;
  left: 0;
  width: 294.36px;
}
.line-div8 {
  top: 43.14px;
  left: 68.59px;
  border-top: 1px solid var(--bluedocto);
  box-sizing: border-box;
  width: 155.18px;
  height: 1px;
}
.group-div61,
.group-div62 {
  position: absolute;
  top: 342px;
  left: 49px;
  width: 294.36px;
  height: 385.82px;
}
.group-div61 {
  top: 0;
  left: 0;
  width: 390px;
  height: 844px;
  text-align: center;
  color: var(--bluedocto);
}
.rectangle-div77,
.rectangle-div78 {
  position: absolute;
  height: 2.17%;
  width: 24.17%;
  top: 0;
  right: 75.83%;
  bottom: 97.83%;
  left: 0;
  background-color: var(--bluedocto);
}
.rectangle-div78 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
}
.vector-icon6 {
  position: absolute;
  height: 60%;
  width: 73.47%;
  top: 0;
  right: 18.37%;
  bottom: 40%;
  left: 8.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.accueil-div2 {
  position: absolute;
  top: 70.91%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.group-div72 {
  position: absolute;
  height: 100%;
  width: 14.04%;
  top: 0;
  right: 85.96%;
  bottom: 0;
  left: 0;
  color: var(--bluedocto);
}
.vector-icon7 {
  position: absolute;
  height: 60%;
  width: 35.71%;
  top: 0;
  right: 34.52%;
  bottom: 40%;
  left: 29.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rendez-vous-div2 {
  position: absolute;
  top: 70.91%;
  left: 0;
  display: inline-block;
}
.group-div73,
.vector-icon8 {
  position: absolute;
  height: 100%;
  width: 24.07%;
  top: 0;
  right: 52.44%;
  bottom: 0;
  left: 23.5%;
}
.vector-icon8 {
  height: 63.64%;
  width: 33.77%;
  right: 38.96%;
  bottom: 36.36%;
  left: 27.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div74 {
  position: absolute;
  height: 100%;
  width: 22.06%;
  top: 0;
  right: 25.21%;
  bottom: 0;
  left: 52.72%;
  cursor: pointer;
}
.group-icon14 {
  position: absolute;
  height: 64.93%;
  width: 80.94%;
  top: 0;
  right: 5.85%;
  bottom: 35.07%;
  left: 13.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div75 {
  position: absolute;
  height: 100%;
  width: 15.19%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.81%;
}
.group-div70,
.group-div71 {
  position: absolute;
  height: 61.11%;
  width: 88.8%;
  top: 13.33%;
  right: 4.58%;
  bottom: 25.56%;
  left: 6.62%;
}
.group-div70 {
  height: 97.83%;
  width: 100%;
  top: 2.17%;
  right: 0;
  bottom: 0;
  left: 0;
}
.component-5-div2 {
  position: absolute;
  top: 752px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0-24px 48px rgba(0, 0, 0, 0.1);
  width: 393px;
  height: 92px;
  font-size: var(--font-size-xs);
}
.iphone-14-3 {
  position: relative;
  background-color: var(--bluedocto);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xs);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
