body {
  margin: 0;
  line-height: normal;
}
.docto-bulle-png3x-1-icon3,
.image-3-icon1 {
  position: absolute;
  top: 741px;
  left: 301px;
  width: 67px;
  height: 66px;
  object-fit: cover;
  cursor: pointer;
}
.image-3-icon1 {
  top: 100px;
  left: 0;
  border-radius: var(--br-xl);
  width: 393px;
  height: 538px;
}
.rectangle-div103 {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--bluedocto);
  width: 393px;
  height: 99px;
}
.image-1-icon5 {
  position: absolute;
  top: 18px;
  left: 1px;
  width: 394px;
  height: 26px;
  object-fit: cover;
}
.test-sanguin-b2 {
  position: absolute;
  top: 0;
  left: 95px;
  line-height: 143.69%;
  display: inline-block;
}
.arrow-icon4,
.group-div87 {
  position: absolute;
  top: 1.95px;
  left: -1.5px;
  width: 12.55px;
  height: 22.09px;
}
.group-div87 {
  top: 62px;
  left: 42px;
  width: 217px;
  height: 26px;
  cursor: pointer;
}
.upper-div5 {
  position: absolute;
  top: 0;
  left: -1px;
  width: 394px;
  height: 99px;
}
.screendocument-div1 {
  position: relative;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
