body {
  margin: 0;
  line-height: normal;
}
.rectangle-div43,
.rectangle-div44 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-300);
  width: 333px;
  height: 46px;
}
.rectangle-div44 {
  top: 69px;
}
.achat-mdicaments-pharmacie-1,
.test-sanguin-antoine-dupont-2 {
  position: absolute;
  top: 15px;
  left: 43px;
  display: inline-block;
}
.test-sanguin-antoine-dupont-2 {
  top: 84px;
}
.icon6,
.icon7 {
  position: absolute;
  top: 9px;
  left: 7px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.icon7 {
  top: 79px;
  left: 8px;
  width: 26px;
  height: 26px;
}
.component-10-icon1,
.component-11-icon1,
.testurine-div1 {
  position: absolute;
  top: 89px;
  left: 290px;
  width: 19.29px;
  height: 5px;
}
.component-10-icon1,
.testurine-div1 {
  top: 20px;
}
.testurine-div1 {
  top: 648px;
  left: 29px;
  width: 333px;
  height: 115px;
}
.b2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 143.69%;
  display: inline-block;
}
.rectangle-div45 {
  position: absolute;
  top: 9px;
  left: 34px;
  background-color: var(--color-gray-400);
  width: 342px;
  height: 1px;
}
.date-div2 {
  position: absolute;
  top: 607px;
  left: 17px;
  width: 376px;
  height: 17px;
  color: var(--color-gray-900);
}
.rectangle-div46 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--bluedocto);
  width: 198px;
  height: 41px;
}
.ajouter-un-document2 {
  position: absolute;
  top: 11px;
  left: 21px;
  line-height: 143.69%;
  display: inline-block;
  width: 173px;
  height: 20px;
}
.bouton-div1 {
  position: absolute;
  top: 697px;
  left: 178px;
  width: 198px;
  height: 41px;
  color: var(--color-white);
}
.icon8,
.icon9 {
  position: absolute;
  top: 78px;
  left: 7px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.icon9 {
  top: 9px;
  left: 8px;
  width: 27px;
  height: 27px;
}
.icon10,
.testurine2-div1 {
  position: absolute;
  top: 446px;
  left: 29px;
  width: 333px;
  height: 115px;
}
.icon10 {
  top: 10px;
  left: 8px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.date-div3,
.testurine1-div1 {
  position: absolute;
  top: 377px;
  left: 29px;
  width: 333px;
  height: 46px;
}
.date-div3 {
  top: 265px;
  left: 17px;
  width: 376px;
  height: 17px;
  color: var(--color-gray-900);
}
.notifalldocs-icon1,
.rectangle-div51 {
  position: absolute;
  top: 0;
  left: -414px;
  width: 374px;
  height: 84px;
}
.rectangle-div51 {
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-200);
  width: 359px;
  height: 83px;
}
.audio-file-1-icon1 {
  position: absolute;
  top: 23px;
  left: 16px;
  width: 37px;
  height: 37px;
  object-fit: cover;
}
.en-savoir-plus1 {
  color: var(--bluedocto);
}
.votre-dernier-document-est-dis1 {
  position: absolute;
  top: 23px;
  left: 68px;
  line-height: 143.69%;
  font-weight: 600;
  display: inline-block;
  width: 273px;
  height: 47px;
}
.group-div40 {
  position: absolute;
  top: 0;
  left: 8px;
  width: 359px;
  height: 83px;
}
.group-icon6,
.group-icon7 {
  position: absolute;
  top: 34px;
  left: 0;
  width: 15px;
  height: 15px;
}
.group-icon7 {
  left: 359px;
}
.notiflastdoc-div1 {
  position: absolute;
  top: 2px;
  left: 8px;
  width: 374px;
  height: 83px;
}
.div1 {
  position: absolute;
  top: 44px;
  left: 291px;
  line-height: 143.69%;
  font-weight: 600;
  display: inline-block;
}
.component-2-div1 {
  position: absolute;
  top: 161px;
  left: 2px;
  width: 388px;
  height: 85px;
  overflow: hidden;
  font-size: var(--font-size-xs);
}
.rectangle-div52 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 399px;
  height: 48px;
}
.documents-b1,
.notes-b1 {
  position: absolute;
  top: 18px;
  left: 285px;
  line-height: 143.69%;
  display: inline-block;
}
.documents-b1 {
  left: 57px;
  color: var(--bluedocto);
}
.rectangle-div53 {
  position: absolute;
  top: 46px;
  left: 3px;
  background-color: var(--bluedocto);
  width: 196px;
  height: 2px;
}
.navup-div1,
.rectangle-div54 {
  position: absolute;
  top: 97px;
  left: -3px;
  width: 399px;
  height: 48px;
}
.rectangle-div54 {
  top: 0;
  left: 1px;
  background-color: var(--bluedocto);
  width: 393px;
  height: 99px;
}
.mes-documents-b1 {
  position: absolute;
  top: 62px;
  left: 122px;
  line-height: 143.69%;
  display: inline-block;
}
.image-1-icon3,
.upper-div3 {
  position: absolute;
  width: 394px;
}
.image-1-icon3 {
  top: 18px;
  left: 1px;
  height: 26px;
  object-fit: cover;
}
.upper-div3 {
  top: 0;
  left: -1px;
  height: 99px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.rectangle-div55 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1300);
  width: 393px;
  height: 845px;
}
.rectangle-div56 {
  position: absolute;
  top: 296.35px;
  left: 18.14px;
  border-radius: 23px;
  background-color: #d9d9d9;
  width: 355.72px;
  height: 69.08px;
}
.subtract-div {
  position: relative;
  background-color: var(--color-gray-1300);
  width: 393px;
  height: 845px;
}
.group-div45,
.rectangle-div57 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123.3px;
  height: 34.86px;
}
.rectangle-div57 {
  border-radius: var(--br-sm);
  background-color: var(--color-white);
}
.group-div45 {
  box-shadow: var(--ombre);
}
.group-div46,
.suivant-div2 {
  position: absolute;
  width: 95.27px;
  height: 23.3px;
}
.suivant-div2 {
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.group-div46 {
  top: 5.73px;
  left: 14.11px;
}
.group-div43,
.group-div44,
.rectangle-div58 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123.3px;
  height: 34.86px;
}
.group-div43,
.rectangle-div58 {
  top: 506px;
  left: 151.72px;
}
.rectangle-div58 {
  top: 14.56px;
  left: 13.1px;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 219.86px;
  height: 48.06px;
}
.group-div48,
.rectangle-div59 {
  position: absolute;
  left: 0;
  width: 246.24px;
  height: 53.88px;
}
.rectangle-div59 {
  top: 0;
  border-radius: var(--br-sm);
  background: linear-gradient(180deg, #fff, #e5e5e5);
}
.group-div48 {
  top: 42.23px;
  box-shadow: var(--ombre);
}
.doctovoice-tape-2-sur-4,
.selectionez-un-document {
  position: absolute;
  top: 0;
  left: 18.14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209.6px;
  height: 62.62px;
}
.selectionez-un-document {
  top: 42.05px;
  font-size: var(--font-size-4xs);
  font-weight: 600;
  height: 54.06px;
}
.line-div7 {
  position: absolute;
  top: 43.55px;
  left: 75.08px;
  border-top: 1px solid var(--bluedocto);
  box-sizing: border-box;
  width: 95.72px;
  height: 1px;
}
.group-div47 {
  position: absolute;
  top: 0;
  left: 0;
  width: 246.24px;
  height: 96.11px;
  font-size: var(--font-size-3xs);
}
.group-div41,
.group-div42 {
  position: absolute;
  top: 165px;
  left: 73px;
  width: 275.02px;
  height: 540.86px;
}
.group-div41 {
  top: 0;
  left: 0;
  width: 393px;
  height: 845px;
  text-align: center;
  font-size: var(--font-size-4xs);
  color: var(--bluedocto);
}
.test-sanguin-antoine-dupont-3 {
  position: absolute;
  top: 15px;
  left: 41px;
  display: inline-block;
}
.testsang-div1 {
  position: absolute;
  top: 308px;
  left: 29px;
  width: 333px;
  height: 46px;
  cursor: pointer;
}
.rectangle-div61,
.rectangle-div62 {
  position: absolute;
  height: 2.17%;
  width: 24.17%;
  top: 0;
  right: 25.95%;
  bottom: 97.83%;
  left: 49.87%;
  background-color: var(--bluedocto);
}
.rectangle-div62 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.vector-icon3 {
  position: absolute;
  height: 61.11%;
  width: 83.72%;
  top: 0;
  right: 6.98%;
  bottom: 38.89%;
  left: 9.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.accueil-div1 {
  position: absolute;
  top: 72.22%;
  left: 0;
  display: inline-block;
}
.group-div51 {
  position: absolute;
  height: 100%;
  width: 12.43%;
  top: 0;
  right: 87.57%;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.vector-icon4 {
  position: absolute;
  height: 61.11%;
  width: 40.54%;
  top: 0;
  right: 25.68%;
  bottom: 38.89%;
  left: 33.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div52,
.vector-icon5 {
  position: absolute;
  height: 100%;
  width: 21.39%;
  top: 0;
  right: 54.9%;
  bottom: 0;
  left: 23.71%;
}
.vector-icon5 {
  height: 64.81%;
  width: 38.81%;
  right: 29.85%;
  bottom: 35.19%;
  left: 31.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div53 {
  position: absolute;
  height: 100%;
  width: 19.37%;
  top: 0;
  right: 27.44%;
  bottom: 0;
  left: 53.19%;
  color: var(--bluedocto);
}
.group-div54,
.group-icon8 {
  position: absolute;
  top: 0;
  right: 0;
}
.group-icon8 {
  height: 66.14%;
  width: 85.97%;
  bottom: 33.86%;
  left: 14.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div54 {
  height: 100%;
  width: 14.43%;
  bottom: 0;
  left: 85.57%;
}
.group-div49,
.group-div50 {
  position: absolute;
  height: 60%;
  width: 88.01%;
  top: 13.33%;
  right: 5.37%;
  bottom: 26.67%;
  left: 6.62%;
}
.group-div49 {
  height: 97.83%;
  width: 100%;
  top: 2.17%;
  right: 0;
  bottom: 0;
  left: 0;
}
.component-5-div1 {
  position: absolute;
  top: 760px;
  left: 0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  width: 393px;
  height: 92px;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
}
.screendocumentlist-div1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
